html{
  font-size: 62.5%;
  box-sizing:border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
:root{
  --clr-bg-main: #282828;
  --clr-txt-gold: #caaa67;
}
body{
  font-size:1.6rem;
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg-main);
  color: var(--clr-txt-gold);
 
}
header p{
  text-align: center;
}
h1{
  text-align: center;
}
.container{
  width: 90%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.introContainer{
  display: flex;
}
.alignText{
  text-align: center;
}
.textAlign div{
  background: var(--clr-txt-gold);
  color: var(--clr-bg-main);
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width:7.7rem;
  height: 7.5rem;
  margin-top: 1.5rem;
}
.textAlign div button{
  background: var(--clr-bg-main);
  color: var(--clr-txt-gold);
  border: none;
}
.endOfGame{
  text-align: center;
}

.border{
  border: 0.1rem dotted white;
  width: 15rem;
  height: 15rem;
}
.gestureContainer{
  display: flex;
}
button{
  width: 5rem;
  height: 4rem;
}
.absolute{
  position: absolute;
}
.introContainer div{
  margin-left: 8rem;
  margin-right: 8rem;
}
.textAlign{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gestureBG{
  background-color:var(--clr-txt-gold) ;
  font-size: 7rem;
  cursor: pointer;
  
}
.gestureBG:hover{
  box-shadow: 0 0 2rem 0 var(--clr-txt-gold);
  
}
.gestureContainer div{
  margin: 4rem;
}
.gestureContainer div p{
  text-align: center;
}
.border{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.showRock,
.showPaper,
.showScissors,
.showScissors1,
.showRock1,
.showPaper1{
  
  position: absolute;
  
}

.hidden{
  visibility: hidden;
}
.highLightGreen{
  border: 0.1rem dotted green;
}
.highLightRed{
  border: 0.1rem dotted red;
}

.footerContainer{
  width:90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  
}

@media (max-width:38.75rem){
  body{
    font-size: 1.2rem;
  }
  .container{
    margin-top: 1.5rem;
  }
 
  .textAlign {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .border{
  
    width: 7rem;
    height: 7rem;
  }
  .introContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .gestureContainer div{
    margin: 2rem;
  }
 
  img{
    width: 4rem;
    height: 4rem;
    margin-top:0;
  }
  
  .textAlign div{
    width: 50%;
    height: 15%;
  }
 .determineScore{
   margin-bottom:7rem;
 }
 .determineScore1{
   margin-top:7rem;
   margin-bottom: 3rem;
 }

 
  
}
  
