html{
  font-size: 62.5%;
  box-sizing:border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
:root{
  --clr-bg-main: #282828;
  --clr-txt-gold: #caaa67;
}
body{
  font-size:1.6rem;
  padding: 0;
  margin: 0;
  background-color: var(--clr-bg-main);
  color: var(--clr-txt-gold);
 
}
.mainContainer{
  width: 90vw;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;

  align-items: center;
}
header p{
  text-align: center;
}
h1{
  text-align: center;
}
.container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  min-height: 100vh;
  
}
.introContainer{
  display: flex;
}
.alignText{
  text-align: center;
}
.textAlign div{
  background: var(--clr-txt-gold);
  color: var(--clr-bg-main);
  width: 25rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img{
  width:7.7rem;
  height: 7.5rem;
  margin-top: 1.5rem;
}
.textAlign div button{
  background: var(--clr-bg-main);
  color: var(--clr-txt-gold);
  border: none;
}
.endOfGame{
  text-align: center;
}

.border{
  border: 0.1rem dotted white;
  width: 15rem;
  height: 15rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gestureContainer{
  display: flex;
}
button{
  width: 5rem;
  height: 4rem;
}
.absolute{
  position: absolute;
}

.determineScore1{
  margin-left: 14rem;
}
.determineScore{
  margin-right: 14rem;
}
.textAlign{
  display: flex;
  align-items: center;
  justify-content: center;
}
.gestureBG{
  background-color:var(--clr-txt-gold) ;
  font-size: 7rem;
  cursor: pointer;
  
}
.gestureBG:hover{
  box-shadow: 0 0 2rem 0 var(--clr-txt-gold);
  
}
.gestureContainer div{
  margin: 4rem;
}
.gestureContainer div p{
  text-align: center;
}

.showRock,
.showPaper,
.showScissors,
.showScissors1,
.showRock1,
.showPaper1{
  
  position: absolute;
  
}

.hidden{
  visibility: hidden;
}
.highLightGreen{
  border: 0.1rem dotted green;
}
.highLightRed{
  border: 0.1rem dotted red;
}

.footerContainer{
  
  display: flex;
  justify-content: center;
  align-items: center;
 ;
  
}

@media (max-width:50rem){
  body{
    font-size: 0.9rem;
  }
  h1{
    max-width: 25ch;
    font-size: 1.5rem;
  }
  .introContainer {
    display: flex;
    flex-direction: column;
  }
  .determineScore1{
  margin-left: 0rem;
  margin-top: 7rem;
  }
  .determineScore{
  margin-right: 0rem;
  margin-bottom: 7rem;
  }
  .gestureContainer div{
    margin: 1rem;
  }
  img{
    width:5.7rem;
    height: 5.5rem;
    margin-top: 2.5rem;
  }
  .container{
    margin-top: 1.5rem;
  }
  .border{
   
    width: 9rem;
    height: 9rem;
    
      display: flex;
      justify-content: center;
      align-items: initial;
      
  }
  
}